header {
    background-color: #3a322c;
    grid-area: header;
}

nav {
    ul {
        li {
            a{
                color: rgb(160, 160, 160) !important;
                font-family: 'Amatic SC', cursive;
            }
        }
    }
    .img--animacion {
        height: 100px;
    }
    .custom-active {
        color: #ffffff !important;
    }
    .nav-link-hover:hover {
        color: rgb(216, 216, 216) !important;
    }
}
