header {
    background-color: #3a322c;
    grid-area: header;
}

nav {
    ul {
        li {
            a{
                color: rgb(160, 160, 160) !important;
                font-family: 'Amatic SC', cursive;
            }
        }
    }
    .navbar-brand {
        img {
            height: 100px;
            @include min-1920 {
                height: 150px;
                width: 150px;
            }
        }
    }
    .custom-active {
        color: #ffffff !important;
    }
    .nav-link-hover:hover {
        color: rgb(216, 216, 216) !important;
    }
    .nav-link {
        @include min-1920 {
            font-size: 1.65rem;
        }
    }
    .mobile-sticky {
        @include mobile-tablet {
            position: sticky;
            top: 0;
            z-index: 1020;
        }
    }
}
