
/* Estilos de los textos */

p {
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
    line-height: 30px;
    color: #fff;
}

.titulos {
    font-size: 53px;
    color: #fff;
    font-family: 'Caveat', cursive;
}  

/* Inicio Responsive */

/* Inicio Responsive index */

@media screen and (max-width: 1024px) {

    .bienvenida h1 {
        font-size: 20px;
    }

    .inicio {
        padding-left: 8px;
        padding-right: 8px;
    }

    .inicio h2 {
        font-size: 25px;
    }

    .inicio p {
        font-size: 20px
    }

    .inicio img {
        width: 90vw;
    }

    .background h2 {
        font-size: 25px;
    }

    .cafe1 {
        width: 300px;
        margin: 0;
    }

    .cafe2 {
        width: 300px;
        margin: 0;
    }

    .explicacion__parte1 {
        text-align: center;
    }

    .explicacion__parte2 {
        text-align: center;
    }

    .parte1__p,
    .parte2__p {
        padding-left: 8px;
        padding-right: 8px;
    }

    .explicacion div img {
        width: 250px;
        height: auto;
        margin-bottom: 30px;
    }

    #nav__menu-icon {
        margin-right: 7px;
    }

    .mobile-sticky {
        position: sticky;
        top: 0;
        z-index: 1020;
    }

}

@media screen and (min-width: 600px) {
    
    .inicio img {
        width: 75vw;
    }


}

@media screen and (min-width: 769px) {
    
    .bienvenida h1 {
        font-size: 48px;
    }

    .background h2 {
        font-size: 48px;
    }

}

@media screen and (max-width: 768px) {

    .cafe1,
    .cafe2 {
        justify-self: center;
        align-self: center;
    }

}
    


@media screen and (min-width: 768px) {
    .inicio img {
        width: 50vw;
    }

}

@media screen and (min-width: 1918px) {
    .bienvenida h1 {
        font-size: 72px;
    }

    .background h2 {
        font-size: 72px;
    }

    .inicio img {
        width: 46vw;
    }

    .parte1__p,
    .parte2__p {
        font-size: 32px;
    }

    .inicio p {
        font-size: 32px;
    }

    nav a img {
        width: 150px;
        height: 150px;
    }
    
    footer {
        font-size: 20px;
    }

    .nav-link {
        font-size: 23px;
    }
}

/* Fin responsive index */

/* Inicio responsive Sobre Nosotros */

@media screen and (max-width: 1024px) {
    .bienvenida-sobre-nosotros h1 {
        font-size: 20px;
    }
    .nuestra-historia h2 {
        font-size: 25px;
    }
    .nuestra-historia p {
        font-size: 18px;
    }
    .nuestra-historia img {
        width: 90vw;
        height: auto;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 25px;
        text-align: center;
    }
    
}
@media screen and (min-width: 600px) {
    .nuestra-historia img {
        width: 75vw;
        height: auto;
    }

}
@media screen and (min-width: 769px) {
    .bienvenida-sobre-nosotros h1 {
        font-size: 48px;
    }
    .nuestra-historia h2 {
        font-size: 48px;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 48px;
    }
}
@media screen and (min-width: 768px) {
    .nuestra-historia img {
        width: 50vw;
    }
}
@media screen and (min-width: 1024px) {
    .opiniones img {
        width: 500px;
        height: auto;
    }
    .nuestra-historia p {
        font-size: 24px;
    }
}
@media screen and (min-width: 1918px) {
    .nuestra-historia p {
        font-size: 32px;
    }
    .nuestra-historia img {
        width: 46vw;
    }
    .bienvenida-sobre-nosotros h1 {
        font-size: 72px;
    }
    .nuestra-historia h2 {
        font-size: 72px;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 72px;
    }
}


/* Fin responsive Sobre Nosotros */

/* Inicio responsive productos */

@media screen and (max-width: 1024px) {
    .bienvenida-productos h1 {
        font-size: 20px;
    }
    .productos__titulo {
        font-size: 25px;
    }
    .producto-base div div img {
        width: 300px;
        height: auto;
    }

    .sobre-nosotrosimg2 h2 {
        font-size: 25px;
        text-align: center;
    }

}
@media screen and (min-width: 769px) {
    .productos__titulo {
        font-size: 48px;
    }
    .bienvenida-productos h1 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1918px) {
    .producto-base p {
        font-size: 32px;
    }
    .productos__titulo {
        font-size: 72px;
    }
    .bienvenida-productos h1 {
        font-size: 72px;
    }
}

/* Fin responsive productos */

/* Inicio responsive sucursales */

@media screen and (max-width: 1024px) {
    .bienvenida-sucursales h1 {
        font-size: 20px;
    }
    .ubicaciones p {
        font-size: 20px
    }
    .ubicaciones div h2 {
        font-size: 20px;
    }
    .ubicaciones div iframe {
        height: 300px;
        width: 300px;
    }
}
@media screen and (min-width: 599px) {
    .ubicaciones div iframe {
        height: 400px;
        width: 400px;
    }
}
@media screen and (min-width: 769px) {
    .bienvenida-sucursales h1 {
        font-size: 48px;
    }
    .ubicaciones div h2 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1025px) {
    .ubicaciones div iframe {
        height: 500px;
        width: 500px;
    }
}
@media screen and (min-width: 1918px) {
    .bienvenida-sucursales h1 {
        font-size: 72px;
    }
    .ubicaciones p {
        font-size: 32px;
    }
    .ubicaciones div h2 {
        font-size: 72px;
    }
    .ubicaciones div iframe {
        height: 800px;
        width: 800px;
    }
}

/* Fin responsive sucursales */


/* Inicio resposive contacto */

@media screen and (max-width: 1024px) {
    .bienvenida-contacto h1 {
        font-size: 20px;
    }
    .contacto-bgcolor p {
        font-size: 20px
    }
    .contacto__titulo {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .input,
    .form-textarea {
        width: 500px;
    }
}


@media screen and (min-width: 769px) {
    .bienvenida-contacto h1 {
        font-size: 48px;
    }
    .contacto__titulo {
        font-size: 48px;
    }
}

@media screen and (min-width: 1918px) {
    .bienvenida-contacto h1 {
        font-size: 72px;
    }
    .contacto-bgcolor p {
        font-size: 32px;
    }
    .contacto__titulo {
        font-size: 72px;
    }
    .input,
    .form-textarea {
        width: 700px;
    }
    .user-label {
        font-size: 20px;
    }
}

/* Fin responsive contacto */

/* Fin Responsive */