* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los textos */

p {
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.titulos {
    font-size: 53px;
    color: #fff;
    font-family: 'Caveat', cursive;
}

/* Header */

header {
    background-color: #3a322c;
    grid-area: header;
}
     
    
/* menu */

nav {
    background-color: #3a322c;
}


nav ul li a {
    color: #fff !important;
    font-family: 'Amatic SC', cursive;
}

nav a img {
    height: 100px;
}

/* Index */

.index__body {
    display: grid;
    grid-template-areas: 
        "header"
        "bienvenida"
        "inicio"
        "backgroun"
        "explicacion"
        "footer"
    ;
    max-width: 100%;
    overflow-x: hidden;

}

.bienvenida {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    grid-area: bienvenida;
}


.bienvenida h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: #fff;
    text-align: center;
}

.inicio {
    padding-top: 80px;
    background-color: #2D261F;
    text-align: center;
    grid-area: inicio;
    padding-bottom: 80px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inicio img {
    box-shadow: 0px 0px 24px 11px rgba(0,0,0,0.67);
    border-radius: 2%;
    width: 50%;
    margin-top: 40px;
}

.inicio p {
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
}

.inicio h2 {
    color: #fff;
}



.background {
    height: 340px;
    background-image: url(../Img/background.jpg);
    background-size:cover;
    background-attachment: fixed;
    grid-area: backgroun;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: white;
}

/* Explicación-Index */

.explicacion {
    background-color: #2D261F;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    grid-area: explicacion;
    display: grid;
    grid-template-areas: 
        "parte1"
        "parte2"
        "boton"

    ;
}

.explicacion div img {
    height: 250px;
    border-radius: 6%;
    box-shadow: 0px 0px 24px 11px rgba(0,0,0,0.67)

}

.parte1__p {
    grid-area: parte1__p;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parte2__p {
    grid-area: parte2__p;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cafe1 {
    grid-area: cafe1;
    margin-right: 80px;
}

.cafe2 {
    grid-area: cafe2;
    margin-left: 80px;
    
}

.explicacion__parte1 {
    grid-area: parte1;
    display: grid;
    grid-template-areas: 
        "cafe1 parte1__p"
    ;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;

}

.explicacion__parte2 {
    grid-area: parte2;
    display: grid;
    grid-template-areas: 
        "parte2__p cafe2"
    ;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 80px;
}

.boton {
    text-align: center;
    grid-area: boton;
}

.boton button {
    background-color: rgb(250, 248, 248);
    border-style: none;
    border-radius: 6%;
    box-shadow: 0px 0px 5px 1px gray;
    height: 60px;
    width: 180px;
    border-width: 4px;    
}

/* Productos */

.productos__article p {
    padding-bottom: 50px;
}

.productos__article section img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bienvenida-productos {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Img/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.bienvenida-productos h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: white;
}


.productos__titulo {
    margin-bottom: 0;
    text-align: center; 
}

.producto--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.producto--left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.producto1 {
    background-color: #2D261F;

}

.producto1 h3 {
    padding-top: 50px;
}

.imgproducto1y3 {
    height: 300px;
    border-radius: 5%;
    box-shadow: 0px 0px 50px 7px rgba(0,0,0,0.37)
}

.producto2 {
    background-color: #b9b2b0;
}

.producto2 h3 {
    padding-top: 50px;
}

.producto2 img {
    height: 350px;
    border-radius: 5%;
    box-shadow: 0px 0px 50px 7px rgba(0,0,0,0.37)
}


.producto3 {
    background-color: #2D261F;
}

.producto3 h3 {
    padding-top: 50px;
}


.producto4 {
    background-color:#b9b2b0;
}

.producto4 img {
    height: 300px;
    border-radius: 5%;
    box-shadow: 0px 0px 50px 7px rgba(0,0,0,0.37)
}


.producto4 h3 {
    padding-top: 50px;
}

.boton-sucursales {
    background-color: #2D261F;
}

.boton2 {
    padding-top: 100px;
    margin-top: 0;
    padding-bottom: 100px;
}

.productos__article p {
    padding-bottom: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Sucursales */

.bienvenida-sucursales {
    height: 90vh;
    text-align: center;
    background-image: url(../Img/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida-sucursales h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: white;
}

.ubicaciones {
    text-align: center;
}

.ubicaciones__mapa1 {
    background-color:#2D261F;
}

.ubicaciones__mapa2 {
    background-color:#b9b2b0;
}

.ubicaciones__mapa3 {
    background-color:#2D261F;
}

.ubicaciones__mapa4 {
    background-color:#b9b2b0;
}

.container-mapa {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-mapa iframe {
    border-radius: 4%;
    box-shadow: 0px 0px 50px 7px rgba(0,0,0,0.37);
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Contacto */

.bienvenida-contacto {
    height: 90vh;
    text-align: center;
    background-image: url(../Img/background4.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida-contacto h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: white;
}

.contacto__titulo {
    text-align: center; 
    padding-top: 40px;
}

.contacto-bgcolor {
    background-color: #2D261F;
}

.contacto-bgcolor p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Bad Script', cursive;
}

/* formulario */

form {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    color: #fff;
    display: flex;
}

.formulario {
    display: flex;
    justify-content: center;
}



form textarea {
    resize: none;
}

/* Sobre Nosotros */

.bienvenida-sobre-nosotros {
    height: 90vh;
    background-image: url(../Img/background5.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida-sobre-nosotros h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: rgb(255, 255, 255);
}

.nuestra-historia {
    background-color: #2D261F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nuestra-historia h2 {
    text-align: center; 
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Caveat', cursive;
    color: #fff;
}

.nuestra-historia img {
    border-radius: 5%; 
    height:300px; 
    box-shadow: 0px 0px 50px 7px rgba(0,0,0,0.37);
    margin-bottom: 80px;
    margin-top: 40px;
}

.nuestra-historia p {
    padding-left: 8px;
    padding-right: 8px;
}

.sobre-nosotrosimg2 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-nosotrosimg2 h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;
    color: #2D261F;
}

.opiniones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros--buttonbgcolor {
    background-color: #2D261F;
}

.opiniones img {
    width: 300px;
}

/* Footer */

footer {
    background-color: #3a322c;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
    grid-area: footer;

}


/* Inicio Responsive */

/* Inicio Responsive index */

@media screen and (max-width: 1024px) {
    .menu {
        display: none;
    }

    .bienvenida h1 {
        font-size: 20px;
    }

    .inicio {
        padding-left: 8px;
        padding-right: 8px;
    }

    .inicio h2 {
        font-size: 25px;
    }

    .inicio p {
        font-size: 20px
    }

    .inicio img {
        width: 90vw;
    }

    .background h2 {
        font-size: 25px;
    }

    .explicacion {
        padding-left: 0;
        padding-right: 0;
    }

    .cafe1 {
        width: 300px;
        margin: 0;
        margin-bottom: 30px;
    }

    .cafe2 {
        width: 300px;
        margin: 0;
        margin-bottom: 30px;
    }

    .explicacion__parte1 {
        grid-template-areas: 
            "cafe1"
            "parte1__p"

        ;
        grid-template-columns: 100vw;
        text-align: center;
    }

    .explicacion__parte2 {
        grid-template-areas: 
            "cafe2"
            "parte2__p"
        
        ;
        grid-template-columns: 100vw;
        text-align: center;
    }

    .parte1__p,
    .parte2__p {
        padding-left: 8px;
        padding-right: 8px;
    }

    .explicacion div img {
        width: 250px;
        height: auto;
        display: flex;
        justify-self: center;
    }

    #nav__menu-icon {
        margin-right: 7px;
    }

}

@media screen and (min-width: 600px) {
    
    .inicio img {
        width: 75vw;
    }


}

@media screen and (min-width: 769px) {
    
    .bienvenida h1 {
        font-size: 48px;
    }

    .background h2 {
        font-size: 48px;
    }

}

@media screen and (min-width: 768px) {
    .inicio img {
        width: 50vw;
    }

}

@media screen and (min-width: 1025px) {
    #nav__menu-icon {
        display: none;
    }


}

@media screen and (min-width: 1918px) {
    .bienvenida h1 {
        font-size: 72px;
    }

    .background h2 {
        font-size: 72px;
    }

    .inicio img {
        width: 46vw;
    }

    .parte1__p,
    .parte2__p {
        font-size: 32px;
    }

    .inicio p {
        font-size: 32px;
    }

    nav a img {
        width: 150px;
        height: 150px;
    }
    
    .menu__listas a {
        font-size: 30px;
    }

    footer {
        font-size: 20px;
    }
}

/* Fin responsive index */

/* Inicio responsive Sobre Nosotros */

@media screen and (max-width: 1024px) {
    .bienvenida-sobre-nosotros h1 {
        font-size: 20px;
    }
    .nuestra-historia h2 {
        font-size: 25px;
    }
    .nuestra-historia p {
        font-size: 18px;
    }
    .nuestra-historia img {
        width: 90vw;
        height: auto;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 25px;
        text-align: center;
    }
    
}
@media screen and (min-width: 600px) {
    .nuestra-historia img {
        width: 75vw;
        height: auto;
    }

}
@media screen and (min-width: 769px) {
    .bienvenida-sobre-nosotros h1 {
        font-size: 48px;
    }
    .nuestra-historia h2 {
        font-size: 48px;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 48px;
    }
}
@media screen and (min-width: 768px) {
    .nuestra-historia img {
        width: 50vw;
    }
}
@media screen and (min-width: 1024px) {
    .opiniones img {
        width: 500px;
        height: auto;
    }
    .nuestra-historia p {
        font-size: 24px;
    }
}
@media screen and (min-width: 1918px) {
    .nuestra-historia p {
        font-size: 32px;
    }
    .nuestra-historia img {
        width: 46vw;
    }
    .bienvenida-sobre-nosotros h1 {
        font-size: 72px;
    }
    .nuestra-historia h2 {
        font-size: 72px;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 72px;
    }
}


/* Fin responsive Sobre Nosotros */

/* Inicio responsive productos */

@media screen and (max-width: 1024px) {
    .bienvenida-productos h1 {
        font-size: 20px;
    }
    .productos__titulo {
        font-size: 25px;
    }
    .producto-base div img {
        width: 300px;
        height: auto;
    }
    .producto--left p,
    .producto--right p {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .sobre-nosotrosimg2 h2 {
        font-size: 25px;
        text-align: center;
    }
    .producto--left ,
    .producto--right {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

}
@media screen and (min-width: 769px) {
    .productos__titulo {
        font-size: 48px;
    }
    .bienvenida-productos h1 {
        font-size: 48px;
    }
}
@media screen and (min-width: 768px) {
    .producto--left {
        flex-direction: row;
    }
    .producto--right {
        flex-direction: row-reverse;
        text-align: center;
    }
    #macchiato {
        height: 270px;
        width: auto;
        margin-right: 55px;
    }
}

@media screen and (min-width: 1918px) {
    .producto-base p {
        font-size: 32px;
    }
    .productos__titulo {
        font-size: 72px;
    }
    .bienvenida-productos h1 {
        font-size: 72px;
    }
}

/* Fin responsive productos */

/* Inicio responsive sucursales */

@media screen and (max-width: 1024px) {
    .bienvenida-sucursales h1 {
        font-size: 20px;
    }
    .ubicaciones p {
        font-size: 20px
    }
    .ubicaciones div h2 {
        font-size: 20px;
    }
    .ubicaciones div iframe {
        height: 300px;
        width: 300px;
    }
}
@media screen and (min-width: 599px) {
    .ubicaciones div iframe {
        height: 400px;
        width: 400px;
    }
}
@media screen and (min-width: 769px) {
    .bienvenida-sucursales h1 {
        font-size: 48px;
    }
    .ubicaciones div h2 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1025px) {
    .ubicaciones div iframe {
        height: 500px;
        width: 500px;
    }
}
@media screen and (min-width: 1918px) {
    .bienvenida-sucursales h1 {
        font-size: 72px;
    }
    .ubicaciones p {
        font-size: 32px;
    }
    .ubicaciones div h2 {
        font-size: 72px;
    }
    .ubicaciones div iframe {
        height: 800px;
        width: 800px;
    }
}

/* Fin responsive sucursales */


/* Inicio resposive contacto */

@media screen and (max-width: 1024px) {
    .bienvenida-contacto h1 {
        font-size: 20px;
    }
    .contacto-bgcolor p {
        font-size: 20px
    }
    .contacto__titulo {
        font-size: 20px;
    }
}


@media screen and (min-width: 769px) {
    .bienvenida-contacto h1 {
        font-size: 48px;
    }
    .contacto__titulo {
        font-size: 48px;
    }
}

@media screen and (min-width: 1918px) {
    .bienvenida-contacto h1 {
        font-size: 72px;
    }
    .contacto-bgcolor p {
        font-size: 32px;
    }
    .contacto__titulo {
        font-size: 72px;
    }
}

/* Fin responsive contacto */

/* Fin Responsive */